@model TemplateEditViewModel

@{
    ViewBag!.Title = "Document editor";
    Layout = "_Layout";
    var previewAction = Url!.Action("GenerateSamplePdf","File", new{docId = Model!.DocumentId})!;
}

@*
        This page is the main view for editing a PDF template.
        It shows each PDF page individually, and allows visual
        editing of the template boxes for that page.  The edit
        Modals are launched from this page and a full document
        preview can be requested.  There is also a help modal.
*@

@* PAGE CONTROLS *@
<div>
    <span>&nbsp;Page:&nbsp;<span id="page_num"></span>&nbsp;/&nbsp;<span id="page_count"></span>&nbsp;</span>
    <button id="prev">Previous</button>
    <button id="next">Next</button>
    &mdash;
    <button id="zoom-plus">Zoom in</button>
    <button id="zoom-minus">Zoom out</button>
    &mdash;
    <a href="@previewAction" target="_blank" class="btn">Preview</a>
    &mdash;
    <button type="button" onclick="showModal('QuickHelpModal')">Help</button>
</div>
<div>
    <button id="document-edit">Document settings</button>
    <button id="page-edit">Page settings</button>
    <button id="box-edit" disabled>Edit Box</button><span id="active-box-name"></span>
</div>

@* PAGE RENDERING AREA (this is entirely driven by 'boxEditor.js') *@
<div id="container">
    <canvas id="pdf-render" class="subCanvas pageShadow"></canvas>
    <canvas id="box-render" class="subCanvas pageTail" onContextMenu="return false"></canvas>
</div>

@* TEMPLATE BOX EDITING (this is populated from 'EditTemplateBox.cshtml' and driven by 'boxEditor.js') *@
<div class="modal" id="EditTemplateBox_BoxInfo">
    <div class="modal-container">
        <div class="modal-body">
            <div class="content" style="height:70vh" id="EditTemplateBox_BoxInfo_Content">
                Failed to load from server!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeBoxEditModal()">Cancel</button>
            <button type="button" onclick="saveBoxEditChanges()">Save</button>
            <button type="button" onclick="deleteSelectedBox()" style="float:left">Delete</button>
        </div>
    </div>
</div>

@* DOCUMENT WIDE SETTINGS (this is populated from 'EditDocumentDetails.cshtml' and driven by 'boxEditor.js') *@
<div class="modal" id="EditDocument_DocumentInfo">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Document-wide settings</div>
        </div>
        <div class="modal-body">
            <div class="content" style="height:70vh" id="EditDocument_DocumentInfo_Content">
                Loading...
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeDocumentInfoModal()">Cancel</button>
            <button type="button" onclick="saveDocumentInfoChanges()">Save</button>
        </div>
    </div>
</div>

@* PAGE WIDE SETTINGS (this is populated from 'EditPageDetails.cshtml' and driven by 'boxEditor.js') *@
<div class="modal" id="EditDocument_PageInfo">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Page specific settings</div>
        </div>
        <div class="modal-body">
            <div class="content" style="height:70vh" id="EditDocument_PageInfo_Content">
                Failed to load from server!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closePageInfoModal()">Cancel</button>
            <button type="button" onclick="savePageInfoChanges()">Save</button>
        </div>
    </div>
</div>

@* DATA FILTER EDITING (this is populated from 'FilterEditor.cshtml' and driven by 'boxEditor.js') *@
<div class="modal" id="EditTemplateBox_DataFilter">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Data filter</div>
        </div>
        <div class="modal-body">
            <div class="content" id="EditTemplateBox_DataFilter_Content">
                Failed to load from server!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeDataFilterModal()">Cancel</button>
            <button type="button" onclick="saveDataFilterChanges()">Save</button>
        </div>
    </div>
</div>

@* DATA MAPPING EDITING (this is populated from 'DataPathPicker.cshtml' and driven by 'boxEditor.js') *@
<div class="modal" id="EditTemplateBox_DataMap">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Choose a data path</div>
        </div>
        <div class="modal-body">
            <div class="content" style="height:50vh" id="EditTemplateBox_DataMap_Content">
                Failed to load from server!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeDataPathPicker()">Cancel</button>
        </div>
    </div>
</div>

@* DISPLAY FORMAT EDITING (this is populated from 'DisplayFormatEditor.cshtml' and driven by 'boxEditor.js') *@
<div class="modal" id="EditTemplateBox_DisplayFormat">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Choose a display format</div>
        </div>
        <div class="modal-body">
            <div class="content" id="EditTemplateBox_DisplayFormat_Content">
                Failed to load from server!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeDisplayFormatModal()">Cancel</button>
            <button type="button" onclick="saveDisplayFormatChanges()">OK</button>
        </div>
    </div>
</div>


@* Mozilla PDF rendering library. Snapshot from https://mozilla.github.io/pdf.js/build/pdf.js *@
<script src="~/js/pdf.js" asp-append-version="true"></script>

@* Expose C# model data to Javascript*@
<script>
const pdfWorkerSource = "@(Url!.Content("~/js/pdf.worker.js")!)"; // Snapshot from https://mozilla.github.io/pdf.js/build/pdf.worker.js

// Load/store urls
const basePdfName = "@(Model!.BasePdfFile)"; // PDF file from project
const fileLoadUrl = "@(Model.FileLoadUrl)?name="; // PDF file from project
const projectJsonLoadUrl = "@(Model.ProjectLoadUrl)?docId=@(Model.DocumentId)"; // call-back to read template project file
const projectJsonStoreUrl = "@(Model.ProjectStoreUrl)?docId=@(Model.DocumentId)"; // call-back to write template project file
const boxMoveUrl = "@(Model.BoxMoveUrl)?docId=@(Model.DocumentId)"; // call-back to save new box position and size
const boxSampleUrl = "@(Model.BoxSampleUrl)?docId=@(Model.DocumentId)"; // call-back to get sample data for a box
const addFilterUrl = "@(Model.AddFilterUrl)?docId=@(Model.DocumentId)"; // call-back to add a new filter (can be page or document)
const deleteFilterUrl = "@(Model.DeleteFilterUrl)?docId=@(Model.DocumentId)"; // call-back to add a new filter (can be page or document)

// Partial views
const boxEditPartialUrl = "@(Model.BoxEditPartialUrl)?docId=@(Model.DocumentId)"; // call-back to load editor HTML for a specific template box
const dataPickerPartialUrl = "@(Model.DataPathPartialUrl)?docId=@(Model.DocumentId)"; // call-back to load editor HTML for a data path
const displayFormatPartialUrl = "@(Model.DisplayFormatPartialUrl)?docId=@(Model.DocumentId)"; // call-back to load editor HTML for a template box's display format
const docInfoPartialUrl = "@(Model.DocumentInfoPartialUrl)?docId=@(Model.DocumentId)"; // call-back to load editor HTML for a template box's display format
const pageInfoPartialUrl = "@(Model.PageInfoPartialUrl)?docId=@(Model.DocumentId)"; // call-back to load editor HTML for a template box's display format
const filterEditPartialUrl = "@(Model.FilterEditPartialUrl)?docId=@(Model.DocumentId)"; // call-back to load HTML for editing filters
</script>

@* Scripts to render PDF with template box overlay, and enable editing of the template *@
<script src="~/js/boxEditor.js" asp-append-version="true"></script>

@* Scripts to control the hierarchical data picker *@
<script src="~/js/propertyInspector.js" asp-append-version="true"></script>

@* Scripts to submit a form asynchronously *@
<script src="~/js/formSubmit.js" asp-append-version="true"></script>

@* Quick help scripts *@
<script>
function showModal(id) {
    let modal = document.getElementById(id);
    if (modal) modal.classList.add("active");
}

function closeModal(id) {
    let modal = document.getElementById(id);
    if (modal) modal.classList.remove("active");
}
</script>


@* QUICK HELP MODAL *@
<div class="modal" id="QuickHelpModal">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Quick help</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <h2>Buttons</h2>
                <dl>
                    <dt>Prev</dt><dd>Go to the previous page of the template</dd>
                    <dt>Next</dt><dd>Go to the next page of the template</dd>
                    <dt>Zoom In</dt><dd>Display the PDF page larger. This does not affect final output, but can make placement and editing easier</dd>
                    <dt>Zoom Out</dt><dd>Display the PDF page smaller. This does not affect final output, but can give a better overview of the page</dd>
                    <dt>Preview</dt><dd>Try to render the current document template using sample data. Opens PDF in a new tab</dd>
                    
                    <dt>Document settings</dt><dd>Change settings for the entire document. This includes document-wide filters</dd>
                    <dt>Page settings</dt><dd>Change settings for the current page. This includes page-specific filters, repeat modes, and background display</dd>
                    <dt>Edit Box</dt><dd>Change the mappings and settings of the selected template box. This button is disabled if no box is selected</dd>
                </dl>
                <h2>General</h2>
                <p> Each page of the source PDF form is displayed individually, with template boxes overlaid.
                    Either right-click, or hold the <kbd>Shift</kbd> key and click, then drag on the PDF page to add a new template box.
                    Click any template box to select it. Once selected, you can press the Edit button to change data bindings and display settings.
                    Drag the middle of a selected box to move it. Drag the small corner buttons to resize a box.
                    Hold the <kbd>Alt</kbd> key while resizing to force square.
                </p>
                Boxes are color coded:
                <dl>
                    <dt>Orange</dt><dd>Selected</dd>
                    <dt>Blue</dt><dd>Not selected, has a data source set (not guaranteed to be valid)</dd>
                    <dt>Red</dt><dd>Not selected, does NOT have a data source set (this box will never render)</dd>
                </dl>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeModal('QuickHelpModal')">Close</button>
        </div>
    </div>
</div>
