@using Form8snCore.FileFormats
@model WebFormFiller.Models.TemplateBoxModalViewModel
@{ Layout = null; }
@* ReSharper disable AssignNullToNotNullAttribute *@
@* ReSharper disable PossibleNullReferenceException *@


<form asp-action="TemplateBox" id="editTemplateBoxForm" method="post">
    <input type="hidden" asp-for="@Model.DocumentId" value="@Model.DocumentId"/>
    <input type="hidden" asp-for="@Model.PageIndex" value="@Model.PageIndex"/>
    <input type="hidden" asp-for="@Model.BoxKey" value="@Model.BoxKey"/>
    <input type="hidden" asp-for="@Model.Version" value="@Model.Version"/>
    <input type="hidden" asp-for="@Model.DisplayFormatJsonStruct" value="@Model.DisplayFormatJsonStruct"/>
    <input type="hidden" id="dataPickerUrl" value="@Model.LoadDataPickerUrl"/>

    @* BOX NAME / KEY *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.BoxName">Box Name (must be unique on page)</label>
        <input class="form-input" type="text" asp-for="@Model.BoxName" placeholder="Name" value="@Model.BoxName">
    </div>

    @* SOURCE DATA OPTIONS *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.DataPath">Data Path</label>
        <button id="DataPathPickBtn" type="button" onclick="showDataPickerModal()">Pick Data</button>
        <input class="form-input" type="text" asp-for="@Model.DataPath" value="@Model.DataPath">
        
        <label class="form-checkbox form-inline" asp-for="@Model.IsRequired">
            <input type="checkbox" asp-for="@Model.IsRequired"><i class="form-icon"></i> Required (if set and data is not available, the document will not render)
        </label>
        
        <label class="form-label" asp-for="@Model.DisplayFormatDescription">Data Path</label>
        <button id="DisplayFormatBtn" type="button" onclick="showDisplayFormatModal()">Set Format</button>
        <input class="form-input" disabled="disabled" type="text" asp-for="@Model.DisplayFormatDescription" value="@Model.DisplayFormatDescription">
    </div>
    
    @* FONT-FIT OPTIONS *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.FontSize">Font Size (optional)</label>
        <input class="form-input" type="text" asp-for="@Model.FontSize" placeholder="" value="@Model.FontSize">
        
        <label class="form-checkbox form-inline" asp-for="@Model.WrapText">
            <input type="checkbox" asp-for="@Model.WrapText"><i class="form-icon"></i> Wrap Text
        </label>
        
        <label class="form-checkbox form-inline" asp-for="@Model.ShrinkToFit">
            <input type="checkbox" asp-for="@Model.ShrinkToFit"><i class="form-icon"></i> Shrink to Fit
        </label>
    </div>
    
    @* DEPENDENCY OPTIONS*@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.ProcessingOrder">Processing Order (optional)</label>
        <input class="form-input" type="text" asp-for="@Model.ProcessingOrder" value="@Model.ProcessingOrder">
        
        <label class="form-label" asp-for="@Model.DependsOn">Depends On (optional - hide this box if another is empty)</label>
        <select class="form-select" asp-for="@Model.DependsOn" asp-items="@Model.OtherBoxKeys">
            <option value="">- none -</option>
        </select>
    </div>
    
    @* TEXT ALIGNMENT OPTIONS *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.ProcessingOrder">Processing Order (optional)</label>
        <table>
            @* ReSharper disable Html.IdNotResolved *@
            <tr>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.TopLeft,   new{id="TA_TL"}) <label for="TA_TL">Top Left</label></td>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.TopCentre, new{id="TA_TC"}) <label for="TA_TC">Top Centre</label></td>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.TopRight,  new{id="TA_TR"}) <label for="TA_TR">Top Right</label></td>
            </tr>
            <tr>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.MidlineLeft,   new{id="TA_ML"}) <label for="TA_ML">Midline Left</label></td>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.MidlineCentre, new{id="TA_MC"}) <label for="TA_MC">Midline Centre</label></td>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.MidlineRight,  new{id="TA_MR"}) <label for="TA_MR">Midline Right</label></td>
            </tr>
            <tr>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.BottomLeft,   new{id="TA_BL"}) <label for="TA_BL">Bottom Left</label></td>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.BottomCentre, new{id="TA_BC"}) <label for="TA_BC">Bottom Centre</label></td>
                <td>@Html.RadioButtonFor(x => x.TextAlign, TextAlignment.BottomRight,  new{id="TA_BR"}) <label for="TA_BR">Bottom Right</label></td>
            </tr>
            @* ReSharper restore Html.IdNotResolved *@
        </table>
    </div>
</form>
