@model WebFormFiller.Models.PageSettingsViewModel
@{ Layout = null; }
@* ReSharper disable AssignNullToNotNullAttribute *@
@* ReSharper disable PossibleNullReferenceException *@


<form asp-action="EditPageDetails" id="editPageSettingsForm" method="post">
    <input type="hidden" asp-for="@Model.DocumentId" value="@Model.DocumentId"/>
    <input type="hidden" asp-for="@Model.Version" value="@Model.Version"/>
    <input type="hidden" asp-for="@Model.PageIndex" value="@Model.PageIndex"/>

    @* PAGE NAME *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.Name">Page name (optional)</label>
        <input class="form-input" type="text" asp-for="@Model.Name" value="@Model.Name">
    </div>
    
    @* PAGE WIDTH & HEIGHT *@
    <div class="form-group">
        <label class="form-label form-inline" asp-for="@Model.PageWidthMillimetres">Width (mm)</label>
        <input class="form-input form-inline" type="text" asp-for="@Model.PageWidthMillimetres" value="@Model.PageWidthMillimetres">
        
        <label class="form-label form-inline" asp-for="@Model.PageHeightMillimetres">Height (mm)</label>
        <input class="form-input form-inline" type="text" asp-for="@Model.PageHeightMillimetres" value="@Model.PageHeightMillimetres">
        
        <p>Common sizes in portrait: A4=210x297  US letter=216x279  US legal=216x356</p>
    </div>
    
    @* PAGE FONT DEFAULT *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.PageFontSize">Default Font Size for Page (optional)</label>
        <input class="form-input" type="text" asp-for="@Model.PageFontSize" value="@Model.PageFontSize">
    </div>
    
    @* RENDER BACKGROUND SWITCH *@
    <div class="form-group">
        <label class="form-checkbox form-inline" asp-for="@Model.RenderBackground">
            <input type="checkbox" asp-for="@Model.RenderBackground"><i class="form-icon"></i> Render Background on PDF
        </label>
        <p>If true, the whole PDF will be output as normal. If false, the box values will be rendered on a blank page</p>
    </div>
   
    @* REPEAT MODE *@
    <div class="form-group">
        <label class="form-checkbox form-inline" asp-for="@Model.PageRepeats">
            <input type="checkbox" asp-for="@Model.PageRepeats"><i class="form-icon"></i> Page is repeated
        </label>
        <button type="button" id="pageRepeatPickDataBtn" onclick="showDataPickerModal('RepeatDataPath', true, false)">Pick Data</button>
        <input class="form-input" type="text" asp-for="@Model.RepeatDataPath" value="@Model.RepeatDataPath">
        <p>If a page does not repeat, it will be placed in the output exactly once.</p>
        <p>If a page repeats, a copy will be added to the output for each item in the data path you pick.
            If the selected data is empty or not present, no pages will be output.</p>
        <p>List items are marked with "(multiple)" in the data picker</p>
    </div>
    
    @* MERGE-TO-ROLL SWITCH *@
    <div class="form-group">
        <label class="form-checkbox form-inline" asp-for="@Model.MergeToRoll">
            <input type="checkbox" asp-for="@Model.MergeToRoll"><i class="form-icon"></i> Merge page repeats onto larger page
        </label>
        <p>For large-format printing. If true, all repeated instances of this page will be merged onto a larger page.
        This has no effect if page is not repeated.</p>
        <p>Merge-to-roll does not support rendering PDF backgrounds.</p>
    </div>
    
    @* ROLL WIDTH & HEIGHT *@
    <div class="form-group">
        <p>Large-format roll size</p>
        <label class="form-label form-inline" asp-for="@Model.RollWidthMillimetres">Width (mm)</label>
        <input class="form-input form-inline" type="text" asp-for="@Model.RollWidthMillimetres" value="@Model.RollWidthMillimetres">
        
        <label class="form-label form-inline" asp-for="@Model.RollHeightMillimetres">Roll Length (mm)</label>
        <input class="form-input form-inline" type="text" asp-for="@Model.RollHeightMillimetres" value="@Model.RollHeightMillimetres">
        
        <label class="form-label form-inline" asp-for="@Model.RollMarginMillimetres">Item Margin (mm)</label>
        <input class="form-input form-inline" type="text" asp-for="@Model.RollMarginMillimetres" value="@Model.RollMarginMillimetres">
        
        <p>Common size: 1200mm wide, 2000mm length, 5mm margin</p>
    </div>
    
    @* NOTES *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.Notes">Notes</label>
        <textarea class="form-input" asp-for="@Model.Notes">@Model.Notes</textarea>
    </div>
    
    
    @* FILTERS LIST *@
    <h6>Page data filters</h6>
    <button id="addDocumentFilterButton" type="button" onclick="addNewDataFilter(@Model.PageIndex)">Add</button>
    <dl>
    @foreach (var filter in Model.Filters)
    {
        <dt>@filter.Key</dt>
        <dd>@filter.Value.MappingType.ToString() &mdash; 
            <button id="editDocumentFilterButton" type="button" onclick="editDataFilter('@(filter.Key)', @Model.PageIndex)">Edit</button>
            <button id="deleteDocumentFilterButton" type="button" onclick="deleteDataFilter('@(filter.Key)', @Model.PageIndex)">Delete</button>
        </dd>
    }</dl>
</form>
