@model WebFormFiller.Models.DocumentSettingsViewModel
@{ Layout = null; }
@* ReSharper disable AssignNullToNotNullAttribute *@
@* ReSharper disable PossibleNullReferenceException *@


<form asp-action="EditDocumentDetails" id="editDocumentSettingsForm" method="post">
    <input type="hidden" asp-for="@Model.DocumentId" value="@Model.DocumentId"/>
    <input type="hidden" asp-for="@Model.Version" value="@Model.Version"/>

    @* DOCUMENT NAME *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.Name">Document name (this is stored as the PDF document title)</label>
        <input class="form-input" type="text" asp-for="@Model.Name" value="@Model.Name">
    </div>
    
    @* BASE FONT SIZE *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.BaseFontSize">Base Font Size (optional)</label>
        <input class="form-input" type="text" asp-for="@Model.BaseFontSize" value="@Model.BaseFontSize">
    </div>

    @* FONT FAMILY *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.FontFamily">Font family (optional)</label>
        <select class="form-select" asp-for="@Model.FontFamily" asp-items="@Model.KnownFontList">
            <option value="">- none -</option>
        </select>
    </div>
    
    @* NOTES *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.Notes">Notes</label>
        <textarea class="form-input" asp-for="@Model.Notes">@Model.Notes</textarea>
    </div>
    
    @* SAMPLE DOCUMENT *@
    <div class="form-group">
        <label class="form-label" asp-for="@Model.FileUpload">Sample document @Model.SampleDocumentName</label>
        <input type="file" asp-for="@Model.FileUpload"/>
    </div>
    
    @* FILTERS LIST *@
    <h6>Document data filters</h6>
    <button id="addDocumentFilterButton" type="button" onclick="addNewDataFilter()">Add</button>
    <dl>
    @foreach (var filter in Model.Filters)
    {
        <dt>@filter.Key</dt>
        <dd>@filter.Value.MappingType.ToString() &mdash; 
            <button id="editDocumentFilterButton" type="button" onclick="editDataFilter('@(filter.Key)')">Edit</button>
            <button id="deleteDocumentFilterButton" type="button" onclick="deleteDataFilter('@(filter.Key)')">Delete</button>
        </dd>
    }</dl>
</form>
