@model TemplateEditViewModel

@{
    ViewBag!.Title = "Document editor";
    Layout = "_Layout";
}

@* PAGE CONTROLS *@
<div>
    <span>&nbsp;Page:&nbsp;<span id="page_num"></span>&nbsp;/&nbsp;<span id="page_count"></span>&nbsp;</span>
    <button id="prev">Previous</button>
    <button id="next">Next</button>
    &mdash;
    <button id="zoom-plus">Zoom in</button>
    <button id="zoom-minus">Zoom out</button>
    &mdash;
    <button type="button" onclick="showModal('QuickHelpModal')">Help</button>
</div>
<div>
    <button id="box-edit" disabled onclick="showBoxEditModal()">Edit</button><span id="active-box-name"></span>
</div>

@* PAGE RENDERING *@
<div id="container">
    <canvas id="pdf-render" class="subCanvas pageShadow"></canvas>
    <canvas id="box-render" class="subCanvas pageTail" onContextMenu="return false"></canvas>
</div>

@* TEMPLATE BOX EDITING *@
<div class="modal" id="EditTemplateBox_BoxInfo">
    <div class="modal-container">
        <div class="modal-body">
            <div class="content" style="height:70vh" id="EditTemplateBox_BoxInfo_Content">
                Failed to load from server!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeBoxEditModal()">Cancel</button>
            
            <button type="button" onclick="saveBoxEditChanges()">Save</button>
        </div>
    </div>
</div>


@* Mozilla PDF rendering library. Snapshot from https://mozilla.github.io/pdf.js/build/pdf.js *@
<script src="~/js/pdf.js" asp-append-version="true"></script>

@* Expose C# model data to Javascript*@
<script>
const pdfWorkerSource = "@(Url!.Content("~/js/pdf.worker.js")!)"; // Snapshot from https://mozilla.github.io/pdf.js/build/pdf.worker.js
const basePdfSourceUrl = "@Model!.PdfUrl"; // PDF file from project
const projectJsonLoadUrl = "@(Model.ProjectLoadUrl)?docId=@(Model.DocumentId)"; // AJAX call-back to read template project file
const projectJsonStoreUrl = "@(Model.ProjectStoreUrl)?docId=@(Model.DocumentId)"; // AJAX call-back to write template project file
const boxEditPartialUrl = "@(Model.BoxEditPartialUrl)?docId=@(Model.DocumentId)"; // AJAX call-back to load editor for a specific template box
const boxMoveUrl = "@(Model.BoxMoveUrl)?docId=@(Model.DocumentId)"; // AJAX call-back to save new box position and size
</script>

@* Scripts to render PDF with template box overlay, and enable editing of the template *@
<script src="~/js/boxEditor.js" asp-append-version="true"></script>

@* Scripts to control the hierarchical data picker *@
<script src="~/js/propertyInspector.js" asp-append-version="true"></script>

@* Scripts to submit a form asynchronously *@
<script src="~/js/formSubmit.js" asp-append-version="true"></script>

@* Quick help scripts *@
<script>
function showModal(id) {
    let modal = document.getElementById(id);
    if (modal) modal.classList.add("active");
}

function closeModal(id) {
    let modal = document.getElementById(id);
    if (modal) modal.classList.remove("active");
}
</script>


@* QUICK HELP MODAL *@
<div class="modal" id="QuickHelpModal">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Quick help</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <h2>Buttons</h2>
                <dl>
                    <dt>Prev</dt><dd>Go to the previous page of the template</dd>
                    <dt>Next</dt><dd>Go to the next page of the template</dd>
                    <dt>Zoom In</dt><dd>Display the PDF page larger. This does not affect final output, but can make placement and editing easier</dd>
                    <dt>Zoom Out</dt><dd>Display the PDF page smaller. This does not affect final output, but can give a better overview of the page</dd>
                    <dt>Edit</dt><dd>Change the mappings and settings of the selected template box. This button is disabled if no box is selected</dd>
                </dl>
                <h2>General</h2>
                <p> Each page of the source PDF form is displayed individually, with template boxes overlaid.
                    Hold the <kbd>Shift</kbd> key and click on the PDF page to add a new template box.
                    Click any template box to select it. Once selected, you can press the Edit button to change data bindings and display settings.
                    Drag the middle of a selected box to move it. Drag the small corner buttons to resize a box.
                </p>
                Boxes are color coded:
                <dl>
                    <dt>Orange</dt><dd>Selected</dd>
                    <dt>Blue</dt><dd>Not selected, has a data source set</dd>
                    <dt>Red</dt><dd>Not selected, does NOT have a data source set (this box will never render)</dd>
                </dl>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeModal('QuickHelpModal')">Close</button>
        </div>
    </div>
</div>
