@model DataSourceViewModel

@{
    ViewBag!.Title = "Sample";
    Layout = "_Layout";
}

<script src="~/js/propertyInspector.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/formFillerStyles.css" asp-append-version="true"/>

<h2>Sample</h2>


@* TODO: generate this from expando data, like in the BasicImageFormFiller *@
<table class="cell" style="min-width:400px">
  <caption>Pick a data source</caption>
  <thead>
    <tr>
      <th><span class="visually-hidden">Toggle</span></th>
      <th>Text</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  @*
  Note - For anything that's not expanded, we need to set an expansion id, 
  and set class=hidden; We also want a toggle button with the on-click to expand it.
*@
  @foreach (var node in Model!.Nodes)
  {
    <tr id="@node.HtmlId" class="@(node.Depth>0?"hidden":"")"  >
      <td style="padding-left:@(node.Depth.ToString())em">
        @if (node.HasChildren)
        {
          <button type="button" id="btn-@node.HtmlId" class="expando" aria-expanded="false" childIds="@node.ChildIds" onclick="toggle('btn-@node.HtmlId')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" focusable="false"><path d="M70.3 13.8L40 66.3 9.7 13.8z"></path></svg>
          </button>
        }
      </td>
      <td style="padding-left:@(node.Depth.ToString())em;color:@(node.ForeColor)">@node.Text</td>
      <td>
        @if (node.CanBePicked)
        {
          <button onclick="alert('You picked node @node.Name from path @node.DataPath')">Pick</button>
        }
      </td>
    </tr>
  }
  </tbody>
</table>